@import 'colors';

body,
html {
  padding: 0;
  margin: 0;
}

text {
  font-family: sans-serif;
}

// .bar {
//   fill: lime;
// }

.tick {
  line {
    display: none;
  }
}

#chart1,
#chart2,
#chart3,
#chart4,
#chart5,
#chart6 {
  display: inline;
}

#main-container {
}
